@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Lora, sans-serif;
	min-width: 320px;
}
.topheader {
	height: 100%;
	background: #f7e9eb;
}
/* logo */
#logo {
	height: 100px;
	padding-left: 10px;
	border: 1px solid transparent;
}
#logo:hover {
	cursor: pointer;
	height: 103px;
	margin-bottom: -3px;
}
/* forma zapisi */
#zapis {
	min-height: 1150px;/* Как привязать к высоте основного контейнера?*/
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	z-index: 2;
	display: none;
}
.brd {
	margin-left: auto;
    margin-right: auto;
	margin-top: 500px;
	box-sizing: border-box;
	background-color: #e0c8c8;
	width: 350px;
	height: 400px;
	border-radius: 20px;
	
}
fieldset {
	border: none;
	text-align: center;
	
}
fieldset > textarea {
	width: 100%;
	
}
fieldset > textarea, input,  {
	border-radius: 10px;
	color: #fff;
}
fieldset > button > submit
#forma {

}
/* prompt */
#prompt {
	position: absolute;
    box-sizing: border-box;
    width: 230px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	margin-left: calc(100% - 240px);
	display: none;
}
#text {
	border-color: #f7e9eb;
	border-radius: 10px;
}
#prompt-ok {
	border-color: #f7e9eb;
	border-radius: 10px;
}
/* popup city */
#popup {
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	margin-left: calc(100% - 210px);
	display: none;
}
#popup > button {
	background-color: #f7e9eb;
	border-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4)
}
#popup > button:hover {
	cursor: pointer;
	background-color: #e0c8c8;
}
#city {
	float: right;
	padding-right: 5px;
	display: none;
}

.midlheader {
	background-color: #fff;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	top: 0;
	z-index: 1;
}
.midlheader > a {
	border: 1px solid #714957; 
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.midlheader > a:hover {
	background-color: #e0c8c8;
	color: #fff;
}
.midlheader > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
}
.midlheader > span:hover {
	display: block;
}
.bottomheader {
	background: #e0c8c8;
	text-align: center;
}
/* всплывающее представление сайта */
.regalii {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 150px;/* при уменьшении ширины экрана эта висота заходит под следующий блок */
}
#pre {
	color: #000;
	display: none;
	text-align: center;
}
/* main */
main {
	background-image: url("../images/kleta.jpeg");
	flex: 1 0 auto;
}
.textmain {
	box-sizing: border-box;
	width: 900px;
	margin: 0 auto;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	padding: 20px 20px;
    background: #fff;
}
.map {
	box-sizing: border-box;
	width: 700px;
	height: 400px;
	margin: 0 auto;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	padding: 20px aut;
    background: pink;
}
	


/* footer */
footer {
	background-color: #714957;
	padding: 20px 10px 5px 10px;
	flex: 1 1 auto;
}
.footer {
	display: flex;
	justify-content: space-between;
}
.infa > div > a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-shadow: 0 0 3px #e0c8c8;
}
.infa > div > a:hover {
	text-decoration: none;
	color: #e0c8c8;
}
.footer > div > button {
	min-height: 50px;
	width: 100%;
	border-radius: 20px;
	font-size: 20px;
	font-family: Lora, cursive;
	color: #714957;
	background-color: #e0c8c8;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.footer > div > button:hover {
	background-color: #714957;
	color: #e0c8c8;
	cursor: pointer;
}
.contacts > .tel, .contacts > .mail {
	color: #fff;
	font-size: 2em;
	text-align: center;
	text-shadow: 0 0 3px #e0c8c8;
}
.mail > a {
	text-decoration: none;
	color: #fff;
}
.mail > a:hover {
	color: ##e0c8c8;
}
.contacts > div > a > img {
	height: 42px;
	padding-right: 10px;
}
h5 {
	color: #e0c8c8;
	text-align: center;
}
.textmain::selection, h1::selection, p::selection, .tel::selection, .mail::selection, .infa > a::selection, li::selection {
    color: #ef135d; 
    background: #e0c8c8; 
}
