@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Lora, sans-serif;
	min-width: 320px;
}
header {
}
.topheader {
	height: 100%;
	background: pink;
}
img {
	height: 100px;
	padding-left: 10px;
	border: 1px solid transparent;
}
img:hover {
	cursor: pointer;
	height: 103px;
	margin-bottom: -3px;
}
#yourcity {
	float: right;
}
#yourcity > p {
	display: none;
	position: absolute;
}
#yourcity > p:hover {
	display: block;
}
.div-popup > button {
	background-color: #e0c8c8;
	color: #fff;
	border-color: #fff;
}
.div-popup > button:hover {
	background-color: #fff;
	color: #e0c8c8;
	border-color: #e0c8c8;
}
.midlheader {
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.midlheader > a {
	border: 1px solid #4a585f; 
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.midlheader > a:hover {
	background-color: #4a585f;
	color: #fff;
}
.midlheader > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
}
.midlheader > span:hover {
	display: block;
}
.bottomheader {
	background: #e0c8c8;
	text-align: center;
}
.regalii {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 150px;/* при уменьшении ширины экрана эта висота заходит под следующий блок */
}
#pre {
	color: #000;
	position: absolute;
	display: none;
	text-align: center;
}
main {
	background-image: url("../images/kleta.jpeg");
}
.textmain {
	box-sizing: border-box;
	width: 900px;
	margin: 0 auto;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	padding: 20px 20px;
	position: relative;
    background: #fff;
}