@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Lora, sans-serif;
	min-width: 320px;
}
header {
}
.topheader {
	height: 100%;
	background: #f7e9eb;
}
img {
	height: 100px;
	padding-left: 10px;
	border: 1px solid transparent;
}
img:hover {
	cursor: pointer;
	height: 103px;
	margin-bottom: -3px;
}
/* prompt */
#prompt {
	position: absolute;
    box-sizing: border-box;
    width: 230px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	margin-left: calc(100% - 240px);
	display: none;
}
#text {
	border-color: #f7e9eb;
	border-radius: 10px;
}
#prompt-ok {
	border-color: #f7e9eb;
	border-radius: 10px;
}
/* popup city */
#popup {
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	margin-left: calc(100% - 210px);
	display: none;
}
#popup > button {
	background-color: #f7e9eb;
	border-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4)
}
#popup > button:hover {
	cursor: pointer;
	background-color: #e0c8c8;
}
#city {
	float: right;
	padding-right: 5px;
	display: none;
}

.midlheader {
	background-color: #fff;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	top: 0;
}
.midlheader > a {
	border: 1px solid #4a585f; 
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.midlheader > a:hover {
	background-color: #4a585f;
	color: #fff;
}
.midlheader > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
}
.midlheader > span:hover {
	display: block;
}
.bottomheader {
	background: #e0c8c8;
	text-align: center;
}
.regalii {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 150px;/* при уменьшении ширины экрана эта висота заходит под следующий блок */
}
#pre {
	color: #000;
	display: none;
	text-align: center;
}
main {
	background-image: url("../images/kleta.jpeg");
}
.textmain {
	box-sizing: border-box;
	width: 900px;
	margin: 0 auto;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	padding: 20px 20px;
    background: #fff;
}
/* slider  */
.container {
    width: 500px;
    margin: 0 auto;
    background: pink;
}
.slider {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
}
.slide.active {
    z-index: 1;
}
.slide img {
    width: 500px;
    height: 300px;
}
.rule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}
.slider:hover .rule {
    display: block;
}
.rule span {
    position: absolute;
    top: calc(50% - 17px);
    cursor: pointer; /* курсор показывает, что тут активный элемент */
    user-select: none; /* запрещаем выделение текста - кнопка не "синеет", как по ней ни кликай*/
    font-size: 30px;
    width: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}

/* footer */
footer {
	background-color: #714957;
	padding: 20px 10px 5px 10px;
}
.footer {
	display: flex;
	justify-content: space-between;
}
.infa > div > a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-shadow: 0 0 3px #e0c8c8;
}
.infa > div > a:hover {
	text-decoration: none;
	color: #e0c8c8;
}
.footer > div > button {
	min-height: 50px;
	width: 100%;
	border-radius: 20px;
	font-size: 20px;
	font-family: Lora, cursive;
	color: #714957;
	background-color: #e0c8c8;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.footer > div > button:hover {
	background-color: #714957;
	color: #e0c8c8;
	cursor: pointer;
}
.contacts > .tel, .contacts > .mail {
	color: #fff;
	font-size: 2em;
	text-align: center;
	text-shadow: 0 0 3px #e0c8c8;
}
.mail > a {
	text-decoration: none;
	color: #fff;
}
.mail > a:hover {
	color: ##e0c8c8;
}
.contacts > div > a > img {
	height: 42px;
	padding-right: 10px;
}
h5 {
	color: #e0c8c8;
	text-align: center;
}
.textmain::selection, h1::selection, p::selection, .tel::selection, .mail::selection, .infa > a::selection { /* Этот прием изменяет цвет при выделении */
    color: #ef135d; /* Цвет текста  */
    background: #e0c8c8; /* Цвет фона */
}
