@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');
*:not(.wraper) {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Lora, sans-serif;
	min-width: 320px;
}
/* header */
header {
	background-color: #fff;
	font-weight: 400;
}
.topmenu {
	display: flex;
}
.wraper {

}
.menu {
	display: inline-block;
	text-align: center;
}
.menunav {
	margin: 0 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.menunav > span {
	border: 1px solid #714957;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	border-radius: 10px;
    margin-right: 10px;
	color: #714957;
	text-decoration: none;
}
.menunav > a {
	text-decoration: none; /* не работает  */
}
.menunav a:hover {
	text-decoration: none;
	background: #714957;
	color: #fff;
	border-radius: 10px;
}
.bottomheader {
	background: #e0c8c8;
	text-align: center;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
}
.regalii {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
main {
	background-image: url("images/KletcaRak.jpeg");
	display: flex;
	flex-direction: column;
	min-height: 100vm;
}
.Photo3 {
	float: right;
	width: 50%;
	padding-top: 5px;
	padding-right: 5px;
}
.Photo1 {
	float: left;
	width: 50%;
	padding-top: 10px;
	padding-right: 15px;
}
.textmain {
	box-sizing: border-box;
	width: 900px;
	margin-left: 20%; /*  */
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	padding: 20px 20px;
	position: relative;
    background: #fff;
}
.map {
	width: 900px;
	height: 480px;
	padding-left: 213px;
}
.textmain::selection { /* Этот прием изменяет цвет при выделении */
    color: #ef135d; /* Цвет текста  */
    background: #e0c8c8; /* Цвет фона */
}
h1::selection { /* Этот прием изменяет цвет при выделении */
    color: #ef135d; /* Цвет текста  */
    background: #e0c8c8; /* Цвет фона */
}
p::selection {
    color: #ef135d; /* Цвет текста */
    background: #e0c8c8; /* Цвет фона */
}
footer {
	background-color: #714957;
	
}
.footerinfa {
	display: flex;
	justify-content: space-between;
}
.bottomfooter {
	padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footermenu {
	display: grid;
	padding-top: 20px;
	text-align: center;
}
.footermenu > a {
	text-decoration: none;
	color: #fff;
}
.footermenu > a:hover {
	color: #e0c8c8;
}
.topfooter > a:hover {
	color: #e0c8c8;
}
.topfooter {
	padding-top: 20px;
	text-align: center;
	display: grid;
}
.topfooter > a{
	text-decoration: none;
	color: #fff;
} 
h3 {
	border-bottom: 1px solid #383636;
	color: #383636;
	text-align: center;
	padding-right: 20px;
}
.galery {
	height: 20%;
}
